<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e5d7f9a-e26e-4f13-9891-4d649b7b04de" Alias="cc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:16:54</CreateDate>
    <NodeName Default="cc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cw0bxkah/icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>