<?xml version="1.0" encoding="utf-8"?>
<Content Key="726ac608-be8d-41dc-9af7-84fab73dcf4a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-25T12:45:30</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="baab5ff3-7c75-48ab-9b28-303aec2fb265">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </gridContent>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>